body {
  background-color: #212121;
  color: #fafafa;
  text-align: left;
  font-size: 20px;
  font-family: 'Ubuntu Mono', monospace;
}
.content {
  margin-top: 10vh;
}
.footer {
  bottom: 9vh;
  position: absolute;
}
.footer-content {
  position: absolute;
  left:20px;
  width: 90vw;
}

@media (max-width: 768px) {
  .content {
    margin-left: 15px;
    margin-right: 15px;
  }
}
svg {
  width: 50px;
  height: 50px;
}
a {
  fill: #0d47a1;
  color:  #0d47a1;
}
a:hover {
  fill: #0277BD;
  color: #0277BD;
}
a:hover {
  text-decoration: none;
}
