body {
  background-color: #212121;
  color: #fafafa;
  text-align: left;
  font-size: 20px;
  font-family: 'Ubuntu Mono', monospace;
}
.content {
  margin-top: 10vh;
  margin-left: 15%;
  margin-right: 15%;
}
.footer {
  bottom: 9vh;
  position: absolute;
}
.footer-content {
  position: absolute;
  left:20px;
  width: 90vw;
}

@media (max-width: 768px) {
  .content {
    margin-left: 5%;
    margin-right: 5%;
  }
}
.d-svg {
  width:18px;
  height:18px; 
  margin-top: 8px;
}
.d-text {
  margin-left: 24px;
}
@media (max-height:662px) {
  .d-svg {
    height: 12px;
    width: 12px;
    margin-top: 4px;
  }
  .d-text {
    font-size: 12px;
    margin-left: 18px;
  }
}
svg {
  width: 50px;
  height: 50px;
}
a {
  fill: #0d47a1;
  color:  #0d47a1;
  text-decoration: none;
}
a:hover {
  fill: #0277BD;
  color: #0277BD;
  text-decoration: none;
}
